* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-image: url(./img/pattern.png);
	background-repeat: repeat;
	background-position: top;
	background-color: rgb(78,160,255);
	height: 175px;
}

.logo {
	max-width: 30%;
	position: relative;
	bottom: -75px;
	left: 10px;
}

.title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.author {
	font-size: large;
}

.author > a{
	text-decoration: none;
	color: rgb(78,160,255);;
}

.date {
	font-size: smaller;
}